@import '../../styles/style-guide.scss';

.button-container {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: $button-color;
  box-shadow: $button-shadow;
  border-radius: $button-radius;
  width: 100%;
  transition: all 0.25s ease-in-out;

  .button__text {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 40px;
  }

  .button__icon {
    svg {
      font-size: 32px;
      color: $text-color;
    }
  }

  &:hover {
    background-color: $button-hover;
  }
}