$title-font: 'Calistoga', cursive;
$text-font: 'Raleway', sans-serif;

$boreal-purple: #4650BD;
$dark-green: #008364;
$dark-blue: #304968;
$green: #36C1A0;
$light-violet: #B6BCFF;
$light-blue: #C8DEEF;
$grey: #444444;
$boreal-gradient: linear-gradient(180deg, $dark-blue 0%, $green 52.6%, $boreal-purple 100%);

$button-color: $boreal-purple;
$button-shadow: 4px 4px 0px #000000;
$button-radius: 16px;
$button-hover: #606ADA;

$background-color: $boreal-gradient;
$background-header: $boreal-purple;
$background-footer: $boreal-purple;
$background-hamburguer-menu: $boreal-purple;

$text-color: #FFFFFF;
$text-shadow: 2px 1px 0px #000000;

$stripe-date-title: $dark-green;

$sector-premium: #0E7DF1;
$sector-common: #FE016E;
$sector-ground: #01A89E;
$sector-upper: #3F51B5;
$sector-ramps: #003F86;

$breakpoint-small: 360px;
$breakpoint-medium: 560px;
$breakpoint-large: 1200px;

$duration: 1s;

@keyframes loading-page {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@function animation() {
  $output: #{loading-page} #{$duration} #{ease-in-out} #{forwards};
  @return $output;
}