@import '../../styles/style-guide.scss';

.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  background: $boreal-gradient;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);

  animation: animation();

  @media screen and (min-width: $breakpoint-medium) {
    width: 100%;
  }
  @media screen and (min-width: $breakpoint-large) {
    align-items: flex-start;
  }

  .ticket__brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 32px;
    }
  }

  .ticket__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media screen and (min-width: $breakpoint-large) {
      flex-direction: row;
      gap: 48px;
    }

    .ticket__qrcode {
      width: 248px;
      height: 190px;
      object-fit: fill;

      @media screen and (min-width: $breakpoint-medium) {
        width: 100%;
        height: 310px;
      }
      @media screen and (min-width: $breakpoint-large) {
        width: 189px;
        height: fit-content;
      }
    }

    .ticket__info {
      text-transform: capitalize;

      h3 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 38px;
        text-align: center;
        margin-bottom: 16px;
      }

      span {
        display: block;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 40px;
        text-align: center;
      }

      @media screen and (min-width: $breakpoint-large) {
        h3 {
          margin-bottom: 24px;
          text-align: left;
        }

        span {
          text-align: left;
        }
      }
    }
  }
}