@import '../../styles/style-guide.scss';

.experience-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $breakpoint-medium) {
    padding: 0 60px;
  }
  @media screen and (min-width: $breakpoint-large) {
    padding: 0 120px;
  }
}