@import '../../styles/style-guide.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 32px;
  background-color: $background-footer;

  @media screen and (min-width: $breakpoint-large) {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 120px;
    gap: 16px;
    height: 232px;
  }

  .footer__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: $breakpoint-medium) {
      gap: 28px;
    } 
    @media screen and (min-width: $breakpoint-large) {
      align-items: flex-start;
      gap: 8px;
      flex: 1;
    } 
    
    .footer__logo {
      width: 234px;
      height: 64px;
      display: flex;

      img {
        object-fit: cover;
        flex: 1;
      }

      @media screen and (min-width: $breakpoint-large) {
        width: 307px;
        height: 84px;
      }
    }

    .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      span {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 40px;
      }

      @media screen and (min-width: $breakpoint-medium) {
        flex-direction: row;
      }

      .social-media__icons {
        display: flex;
        align-items: center;
        gap: 8px;

        a {
          width: 32px;
          height: 32px;
          font-size: 32px;
        }
      }
    }
  }

  .footer__developed-by {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;

    @media screen and (min-width: $breakpoint-large) {
      flex: 0 0 326px;
      text-align: left;
    }
  }
}