@import '../../styles/style-guide.scss';

.experience-section {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  animation: animation();

  @media screen and (min-width: $breakpoint-medium) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: $breakpoint-large) {
    max-width: 1197px;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: row;
    gap: 48px;

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      .section__content {
        text-align: right;
      }
    }
  }

  .section__image {
    width: 312px;
    height: 380px;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $breakpoint-medium) {
      width: 609px;
    }
    @media screen and (min-width: $breakpoint-large) {
      flex: 0 0 609px;
    }

    img {
      object-fit: cover;
      flex: 1;
    }
  }

  .section__content {
    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 38px;
    }

    p {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 40px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      padding: 0 60px;
    }
    @media screen and (min-width: $breakpoint-large) {
      padding: 0;
      text-align: left;

      h2 {
        margin-bottom: 24px;
      }
    }
  }
}