@import '../../styles/style-guide.scss';

.accordion {
  animation: animation();

  .accordion__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: $button-color;

    span {
      font-weight: 700;
      font-size: 2rem;
      line-height: 38px;
      color: $text-color;
      text-align: left;
    }

    svg {
      font-size: 32px;
      color: $text-color;
      transform: rotate(180deg);
      transition: all 0.25s ease;
    }

    &.accordion__title--open {
      svg {
        transform: rotate(360deg);
      }
    }
  }

  .accordion__content {
    max-height: 0;
    overflow: hidden;
    background-color: $light-blue;
    margin-bottom: 0px;
    transition: all 0.25s ease;
    
    p {
      color: $grey;
      font-weight: 500;
      line-height: 40px;
      font-size: 1.25rem;
      padding: 16px;
    }
    
    &.accordion__content--open {
      max-height: 500px;
      margin-bottom: 16px;
    }
  }
}